{% trans_default_domain 'trexima_european_cv' %}
{% form_theme form '@TreximaEuropeanCv/form/_bootstrap_4_layout.html.twig' %}

<div class="row">
    <div class="col-md-16">
        {% include '@TreximaEuropeanCv/widget/practice.html.twig' %}
    </div>
</div>