{% trans_default_domain 'trexima_european_cv' %}

{% if form.attachmentList is defined %}
    {{ form_row(form.attachmentList) }}
{% endif %}

{% if form.attachments is defined %}
    {{ form_row(form.attachments) }}
    <div class="row">
        <div class="col-md offset-md-8">
            <div class="form-group">
                <button class="btn btn-block btn-primary" type="button" data-trexima-european-cv-dynamic-collection-add="#{{ form.attachments.vars.id }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ 'trexima_european_cv.form_label.add_attachment_button'|trans }}
                </button>
            </div>
        </div>
    </div>
{% endif %}