<div class="row">
    <div class="col-md offset-md-8">
        <div class="form-group">
            <button class="btn btn-block btn-primary" type="button" data-trexima-european-cv-dynamic-collection-add="#{{ form.digitalSkills.vars.id }}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Pridať digitálnu zručnosť
            </button>
        </div>
    </div>
</div>

{{ form_row(form.digitalSkills) }}